
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;70 0&family=Inter:wght@400;500&display=swap');
.container{
margin-top: 100px;
}

.about-title {
font-family: 'Poppins', sans-serif; font-weight: 700;
}

.about-text {
font-family: 'Inter', sans-serif; font-size: 16px;
line-height: 1.7;
color: #444;
justify-content: space-evenly;
}
