<nav class="nav" [ngClass]="{'scrolled': isScrolled}">
<div class="nav-container">

<div
class="menu-icon" [ngClass]="{'active': menuOpen}" (click)="toggleMenu()" (keydown.enter)="toggleMenu()" aria-label="Toggle menu" role="button"
tabindex="0">
<div class="bar1"></div>
<div class="bar2"></div>
<div class="bar3"></div>
</div>

<ul class="menu" [ngClass]="{'active': menuOpen}">
<li class="nav-links">
<a routerLink="/" routerLinkActive="active-link" (click)="closeMenu()">Home</a>
</li>
<li class="nav-links">
<a routerLink="/profile" routerLinkActive="active-link" (click)="closeMenu()">Profile</a>
</li>
<li class="nav-links">
<a routerLink="/store" routerLinkActive="active-link" (click)="closeMenu()">Store</a>
</li>
<li class="nav-links">
<a routerLink="/order" routerLinkActive="active-link" (click)="closeMenu()">Order</a>
</li>
</ul>

<div class="logo">
<a routerLink="/">MediShop</a>
<i class="fa-regular fa-user" style="font-size: 30px; margin-right: 30px" ></i>
<i class="fa-solid fa-cart-shopping" style=" font-size: 30px;"></i>
</div>

</div>
</nav>
